langgraph
langchain[openai]
langchain-deepseek
langchain-mcp-adapters
langgraph-cli[inmem]
langchain-community
langchain-pymupdf4llm
pymysql
python-dotenv
pandas
openpyxl
fastapi
uvicorn[standard]
reportlab